####################################
# IDEs / Editors
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# Sistema Operacional
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
logs/
*.log

####################################
# Node / Frontend
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
coverage/
.nyc_output

####################################
# Environment variables
####################################
.env
.env.*
!.env.example

####################################
# Python / Django
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

####################################
# Virtual Environments (Python)
####################################
env/
ENV/
venv/
.venv/

####################################
# Django specific
####################################
db.sqlite3
*.sqlite3
staticfiles/
media/

####################################
# Build artifacts
####################################
build/
dist/
